<div class="container">
    <section>
        <h2>Profile Summary</h2>

        <ul>
            <li>A goal-oriented professional offering nearly 11 years of experience in software development,
                implementation,
                maintenance and production support</li>
            <li>Highly skilled in leading all technical aspects of application development lifecycle (including
                inception,
                elaboration, construction & transition) </li>
            <li>Participated in various phases of SDLC right from requirement analysis, effort estimation, coding &
                testing
                (preparation of test cases along with implementation) for maintaining the quality of proposed
                applications
            </li>
            <li>Skilled in Agile Project Management methodologies with proficiency in directing project teams and
                maintaining high-quality deliverables within time and budgetary parameters</li>
            <li>Executed multiple projects including Reporting Layer Automation, RxPlan &Automation Testing Framework
            </li>
            <li>Experienced in contributing actively throughout the development phase by tracking technical issues and
                solving problems especially for the issues spanning across multiple programs</li>
            <li>Proficient in exploring various design options in order to arrive at an optimal product or solution
            </li>
            <li>Possess clear thinking from technology perspective with strong skills to identify functional needs and
                transform them into technology terms</li>
            <li>An effective communicator with strong analytical, coordination, leadership & relationship skills;
                possess
                excellent team development skills through consensus building, promotion of teamwork spirit and
                motivation
            </li>
        </ul>
    </section>
</div>