.container {
    text-align: justify;

    h2{
        border-bottom: 1px solid black;
        text-align: center;
    }
    ul {
        li {
            line-height: 2em;
            padding: 4px;
        }
    }
}