<div class="card">
    <div class="banner">
        <img src="assets/images/photo.jpg" alt="photo">
    </div>

    <h2 class="name">Alameen Shaik Dawood</h2>
    <div class="title">Dotnet Core | WebAPI | Angular | Azure Developer | Git | Github | MSSql | SaaS | Agile</div>

    <div class="desc"> A performance driven professional targeting senior level assignments in Software Development,
        preferably in IT Industry, with an organization of high repute.
    </div>
    <div class="desc"> Preferred Location:
        <strong>Chennai, Banguluru, Coimbatore.</strong>
    </div>
    <div class="desc"> Preferred Work Mode
        <strong>Remote</strong>
    </div>
    <div class="desc">
        <ul>
            <li>Software Design & Development</li>
            <li>Requirement Gathering</li>
            <li>Troubleshooting & Debugging</li>
            <li>Production Support</li>
            <li>Strategic Planning & Leadership</li>
            <li>Software Support & Maintenance</li>
            <li>Project Management</li>
            <li>Technical Documentation</li>
            <li>Software Development Life Cycle</li>
            <li>Stakeholder Management</li>
        </ul>
    </div>
</div>

<!-- <div class="actions">
    <div class="follow-info">
        <h2><a href="#"><span>12</span><small>Followers</small></a></h2>
        <h2><a href="#"><span>1000</span><small>Following</small></a></h2>
    </div>
    <div class="follow-btn">
        <button>Follow</button>
    </div>
</div> -->