<p>
    <strong>E-Mail : </strong>
    <a href="mailto:alameenboss@gmail.com" target="_blank">
        alameenboss@gmail.com
    </a>
</p>
<p>
    <strong> Mobile Phone : </strong>
    +91-9944615499
</p>
<p>
    <strong>LinkedIn : </strong>
    <a href="https://www.linkedin.com/in/alameens" target="_blank">
        https://www.linkedin.com/in/alameens
    </a>
</p>
<p>
    <strong>Github : </strong>
    <a href="https://github.com/alameenboss" target="_blank">
        https://github.com/alameenboss
    </a>
</p>
<p>
    <strong>Address : </strong>
    No.166 J2, Tippu Sulthan Market -1,<br />
    Sirumugai Road, <br />
    Shankar Nagar,<br />
    Mettupalayam-641301
</p>