<h2>Education</h2>
<ul>
    <li><strong>2019 : </strong>B.Sc. Computer Science<br />
        Hindusthan College of Arts and Science<br />
        Bharathiar University, Coimbatore with 68%</li>
</ul>

<br />
<br />

<h2>Certification</h2>
<ul>
    <li>Advance CSharp Course in Dec 2019 from Udemy</li>
    <li>Angular crash course for busy developer in Aug 2019 from Udemy</li>
    <li>Entity Framework In Depth in Dec 2019 from Udemy</li>
    <li>Building A Real World Application with Angular in June 2020 from Udemy</li>
</ul>