<div class="timeline">
  <div *ngFor="let experience of experiences; let i = index" class="timeline__experience animated fadeInUp" [ngClass]="'delay-' + (4 - i) + 's timeline__experience--' + experience.type">
    <div class="timeline__experience__icon">
    </div>
    <div class="timeline__experience__date">
      {{ experience.date }}
    </div>
    <div class="timeline__experience__content">
      <div class="timeline__experience__title">
        {{ experience.title }}
      </div>
      <div class="timeline__experience__description">
        <p>
          <a href="{{experience.companyurl}}" target="_blank">{{ experience.description }}</a>
        </p>
      </div>
    </div>
  </div>
</div>