<div class="timeline">
  <div *ngFor="let experience of experiences; let i = index" class="event animated fadeInUp" [ngClass]="'delay-' + (4 - i) + 's event--' + 
    experience.type">
    <div class="event_icon">
    </div>
    <div class="event_date">
      {{ experience.date }}
    </div>
    <div class="event_content">
      <div class="event_title">
        {{ experience.title }}
      </div>
      <div class="event_description">
        <p>
          <a href="{{experience.companyurl}}" target="_blank">{{ experience.description }}</a>
        </p>
      </div>
    </div>
  </div>
</div>